@*@model CyberSolar.MODEL.Model.Category*@
@model CyberSolar.Models.CategoryViewModel

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Category Information</title>*@
@section MyStyle
{
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
}
    <div class="col-lg-10">
        <h2>Category Information</h2>

        <form id="adminpro-form" class="adminpro-form" method="post">
            <table>
                <tr>
                    @*<td>Code:</td>*@
                    <td>@Html.LabelFor(c => c.Code)</td>
                    @*<td><input type="text" name="Code" value="@Model.Code"/></td>*@
                    @*<td>@Html.TextBox("Code", Model.Code)</td>*@ @*Weakly Bound*@
                    <td>@Html.TextBoxFor(c => c.Code, Model.Code)</td> @*Strongly Bound*@
                    <td class="errorMessage">@Html.ValidationMessageFor(c => c.Code)</td>
                </tr>
                <tr>
                    @*<td>Name:</td>*@
                    <td>@Html.LabelFor(c => c.Name)</td>
                    @*<td><input type="text" name="Name" value="@Model.Name"/></td>*@
                    <td>@Html.TextBoxFor(c => c.Name, Model.Name)</td>
                    <td class="errorMessage">@Html.ValidationMessageFor(c => c.Name)</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Save" /></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @if (ViewBag.Message != null)
                        {
                            <h2>@ViewBag.Message</h2>
                        }
                    </td>
                    <td></td>
                </tr>

            </table>
        </form>

        @{
            Html.RenderPartial("~/Views/Shared/Category/_CategoryDetails.cshtml", Model);
        }

    </div>


@section MyScripts
{
    @*<script src="~/Scripts/jquery-1.8.0.min.js"></script>*@
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @*<script>
        $(document).ready(function () {
            $("#RollNo").focusout(function () {
                var rollNo = ("#RollNo").val();
                var jsonData = { rollNo: rollNo };

                $.ajax({
                    url="/Student/GetStudentByRollNo",
                    type = "POST",
                    data = jsonData,
                    success =  function (exist) {
                        //$("#existRoll").text(exist);

                        alert("test");
                    },
                    error: function () {
                        alert("ajax Requiest Failed!!!");
                    }
                }
                )
            })
        })
    </script>*@
}




    