@*@model CyberSolar.MODEL.Model.Category*@
@model CyberSolar.Models.CategoryViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Category Information</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
        .subject {
            text-align: center;
            color: darkgreen;
            font-size: 70px;
        }
        .content {
            max-width: 80%;
            margin: auto;
        }
    </style>
</head>

<body class="content">
<div>
    <h1 class="subject">Category Information</h1>
    <form method="post">
        <table style="width: 70%; margin: auto">

            <tr>
                <td>Code:</td>
                <td><input type="text" name="Code" value="@Model.Code"/></td>
            </tr>
            <tr>
                <td>Name:</td>
                <td><input type="text" name="Name" value="@Model.Name"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Save"/></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @if (ViewBag.Message != null)
                    {
                        <h2>@ViewBag.Message</h2>
                    }
                </td>
            </tr>

        </table>
    </form>
    <p></p>
    <table>
        <tr>
            <th>SI</th>
            <th>Code</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        @{ int sl = 0;}
        @foreach (var category in Model.Categories)
        {
            <tr>
                <td>@(++sl)</td>
                <td>@category.Code</td>
                <td>@category.Name</td>
                <td></td>
            </tr>
        }
        
    </table>
</div>
</body>
</html>
