@model CyberSolar.Models.CategoryViewModel
@{
    ViewBag.Title = "Category";
    Layout = Model.SharedViewLayout;
}

@section MyStyles{
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .subject {
            text-align: center;
            color: darkgreen;
            font-size: 70px;
        }

        .content {
            max-width: 80%;
            margin: auto;
        }

        .errorMessage {
            color: red;
            font-weight: bold;
        }
        .result {
            color: green;font-size: 30px;
        }
    </style>
}


<div>
    <h1 class="subject">Category Information</h1>

    <form method="post">
        <table style="width: 70%; margin: auto">
            <tr>
                <td>@Html.LabelFor(c=>c.Code)</td>
                <td>@Html.TextBoxFor(c=>c.Code, Model.Code, new { @readonly = "readonly" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(c => c.Name):</td>
                <td>@Html.TextBoxFor(c => c.Name, Model.Name, new { @readonly = "readonly" })</td>
            </tr>

            <tr>
                <td></td>
                <td><input type="submit" value="Delete" /></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @if (ViewBag.Message != null)
                    {
                        <p class="result">@ViewBag.Message</p>
                    }
                </td>
            </tr>
        </table>
    </form>
    <p></p>
    @{
        Html.RenderPartial(Model.SharedViewString, Model);
    }

</div>

@section MyScripts{
    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}




