@model CyberSolar.Models.SupplierViewModel
@{
    ViewBag.Title = "Supplier";
    Layout = Model.SharedViewLayout;
}

@section MyStyle{
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .subject {
            text-align: center;
            color: darkgreen;
            font-size: 70px;
        }

        .content {
            max-width: 80%;
            margin: auto;
        }

        .errorMessage {
            color: red;
            font-weight: bold;
        }
    </style>
}

    <div>
        <h1 class="subject">Supplier Information</h1>
        <form method="post">
            <h3 style="color: red">Do you want to Delete this supplier:</h3>
            <table style="width: 70%; margin: auto">
                <tr>
                    <td>@Html.LabelFor(c => c.Code)</td>
                    <td>@Html.TextBoxFor(c => c.Code, Model.Code, new { @readonly = "readonly" })</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(c => c.Name)</td>
                    <td>@Html.TextBoxFor(c => c.Name, Model.Name, new { @readonly = "readonly" })</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(c => c.Address)</td>
                    <td>@Html.TextBoxFor(c => c.Address, Model.Address, new { @readonly = "readonly" })</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(c => c.Email)</td>
                    <td>@Html.TextBoxFor(c => c.Email, Model.Email, new { @readonly = "readonly" })</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(c => c.Contact)</td>
                    <td>@Html.TextBoxFor(c => c.Contact, Model.Contact, new { @readonly = "readonly" })</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(c => c.ContactPerson)</td>
                    <td>@Html.TextBoxFor(c => c.ContactPerson, Model.ContactPerson, new { @readonly = "readonly" })</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Delete" /></td>
                </tr>

            </table>
        </form>
        <p></p>
        @{
            Html.RenderPartial(Model.SharedViewString, Model);
        }
        <br />
        @Html.ActionLink("Back to Home", "Add", "Supplier")
    </div>

@section MyScript{
    <script src="~/Scripts/jquery-1.8.0.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}
