@model CyberSolar.Models.PurchaseViewModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/_Shared/_Layout.cshtml"; ;
}

@section MyStyles
{
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
        .subject {
            text-align: center;
            color: darkgreen;
            font-size: 70px;
        }
        fieldset {
            padding: 10px;
            border: 2px solid black;
             
            border-radius: 4px;
        }

        legend {
            margin: 5px;
            padding: 2px;
            font-weight: bold;
        }
        .suppliers {
            width:50%;
            margin:auto;
        }
        .products {

        }
        .purchaseList {

        }
        .itemColumn {
            float: left;
            padding-right: 10px;
            margin:auto;
        }
    </style>
}

<div>
    <h1 class="subject">Purchase Information</h1>
    <div class="suppliers">
        <fieldset>
            <legend>Supplier</legend>
            <table>
                <tr>
                    <td>Date:</td>
                    <td>@Html.TextBox("sample")</td>
                </tr>
                <tr>
                    <td>Bill/InvoiceNo:</td>
                    <td>@Html.TextBox("sample")</td>
                </tr>
                <tr>
                    <td>Supplier:</td>
                    <td>@Html.DropDownListFor(c=>c.SupplierId, Model.SupplierSelectListItems,"-Select-")</td>
                </tr>
            </table>
        </fieldset>
       
    </div>

    <div class="products">
        <fieldset>
            <legend>Products</legend>

            <table>
                <tr>
                    <td>Category:</td>
                    <td>@Html.DropDownListFor(c => c.PurchasedProduct.Product.CategoryId, Model.CategorySelectListItems, "-Select-", 
                       new { id = "CategoryList"})</td>
                    <td>Quantity:</td>
                    <td>@Html.TextBox("sample")</td>
                </tr>
                <tr>
                    <td>Products:</td>
                    <td>@Html.DropDownListFor(c => c.PurchasedProduct.ProductId, 
                       new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text"), "-Select-", 
                       new { id = "ProductsList" })</td>
                    <td>Unit Price (tk):</td>
                    <td>@Html.TextBox("sample")</td>
                </tr>
                <tr>
                    <td>Code:</td>
                    <td>@Html.TextBox("sample")</td>
                    <td>Total Price (tk):</td>
                    <td>@Html.TextBox("sample")</td>
                </tr>
                <tr>
                    <td>Available Quantity:</td>
                    <td>@Html.TextBox("sample")</td>
                    <td>previous Unit Price (tk):</td>
                    <td>@Html.TextBox("sample")</td>
                </tr>
                <tr>
                    <td>Manufactured Date:</td>
                    <td>@Html.TextBox("sample")</td>
                    <td>Previous MRP (tk):</td>
                    <td>@Html.TextBox("sample")</td>
                </tr>
                <tr>
                    <td>Expire Date:</td>
                    <td>@Html.TextBox("sample")</td>
                    <td>MRP (tk):</td>
                    <td>@Html.TextBox("sample")</td>
                </tr>
                <tr>
                    <td>Remarks:</td>
                    <td>@Html.TextArea("sample")</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <br/>
            <input style="float:right;" type="Submit" value="Add" />
            
        </fieldset>
        
    </div>
    <p></p>
    <div class="purchaseList">

        <form type="post">
            @{
                Html.RenderPartial("~/Views/_Shared/PurchaseInformation/_PurchaseInformationDetails.cshtml", Model);
            }
            <br/>
            <input style="float:right" type="Submit" value="Submit"/>
        </form>
    </div>
</div>


@section MyScripts
{
    <script>
        //$("#ProductsList").attr('disabled', 'disabled');

        $("#CategoryList").change(function () {
            var CId = $(this).val();
            $.getJSON("../PurchaseController/ProductsDropDownLoad", { categoryId: CId },
                function (data) {
                    var select = $("#ProductsList");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "-"
                    }));
                    $.each(data, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text
                        }));
                    });
                });
        })
    </script>
}
