@model CyberSolar.Models.CustomerViewModel
@{
    ViewBag.Title = "Customer Information";
    Layout = Model.SharedViewLayout;
}

@section MyStyles{
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .subject {
            text-align: center;
            color: darkgreen;
            font-size: 70px;
        }

        .content {
            max-width: 80%;
            margin: auto;
        }

        .errorMessage {
            color: red;
            font-weight: bold;
        }
        .result {
            color: green;
            font-size: 30px;
        }
    </style>
}

<div>
    <h1 class="subject">Customer Information</h1>
    <form method="post">
        <h2>Do you want to update this customer values:</h2>
        <table style="width: 70%; margin: auto">

            <tr>
                <td>@Html.LabelFor(c => c.Code)</td>
                <td>
                    @Html.TextBoxFor(c => c.Code, Model.Code, new{data_val="false"})
                    <br/><span class="errorMessage">@Html.ValidationMessageFor(c => c.Code)</span>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(c => c.Name)</td>
                <td>
                    @Html.TextBoxFor(c => c.Name, Model.Name)
                    <br/><span class="errorMessage">@Html.ValidationMessageFor(c => c.Name)</span>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(c => c.Address)</td>
                <td>
                    @Html.TextBoxFor(c => c.Address, Model.Address)
                    <br/><span class="errorMessage">@Html.ValidationMessageFor(c => c.Address)</span>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(c => c.Email)</td>
                <td>
                    @Html.TextBoxFor(c => c.Email, Model.Email, new{data_val="false"})
                    <br/><span class="errorMessage">@Html.ValidationMessageFor(c => c.Email)</span>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(c => c.Contact)</td>
                <td>
                    @Html.TextBoxFor(c => c.Contact, Model.Contact, new{data_val = "false" })
                    <br/><span class="errorMessage">@Html.ValidationMessageFor(c => c.Contact)</span>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(c => c.LoyaltyPoint)</td>
                <td>
                    @Html.TextBoxFor(c => c.LoyaltyPoint, Model.LoyaltyPoint)
                    <br/><span class="errorMessage">@Html.ValidationMessageFor(c => c.LoyaltyPoint)</span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Update"/></td>
            </tr>

        </table>

    </form>
    <p></p>
    @{
        Html.RenderPartial(Model.SharedViewString, Model);
    }
    <br/>
    @Html.ActionLink("Back to Home", "Add", "Customer")
</div>

@section MyScripts{
    <script src="~/Scripts/jquery-1.8.0.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}





